<header class="header-content">
    
    {% if user.is_authenticated %}
        <nav class='auth-navigation'>
            <div class="icon-profile">
                <a href="{% url 'contact:user_details' %}" class='username'>{{user.first_name|slice:":1"|upper}}{{user.last_name|slice:":1"|upper}}</a>
            </div>
        </nav>
        <h1 ><a href="{% url 'contact:index' %}">Agenda</a></h1>
        <p><a href="{% url 'contact:create'%}">create</a></p>


    {% else %}
        <nav class='auth-navigation'>
            <ul>
                <li><a href="{% url 'contact:register'%}">Sign up</a></li>
                <li><a href="{% url 'contact:login' %}">Sign in</a></li>
            </ul>
        </nav>

        <h1 ><a href="{% url 'contact:index' %}">Agenda</a></h1>
    {% endif %}
    
    

    <div class="search">
        <form action="{% url 'contact:search'%}">
            <input type="search" 
            name="q" 
            id="id_search"
            placeholder="Search ..."
            value="{{request.GET.q.strip}}"
            class="search-input">
        </form>
    </div>
</header>